<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated US -->
      <package
            uri="http://userstories.com"
            class="UserStories.UserStoriesPackage"
            genModel="US_model/US.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPDL -->
      <package
            uri="http://xpdl.com"
            class="xpdl.XpdlPackage"
            genModel="XPDL_model/XPDL.genmodel"/>
   </extension>

</plugin>
